<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd" >
	<beans>
		<context:component-scan base-package="com.example.anotate" />
		<bean id="test2" class="com.example.HelloWorld" init-method="init"
			destroy-method="destroy" autowire="constructor">
			<property name="message" value="Hellooooo" />
			<constructor-arg name="msg" type="java.lang.String"
				value="testing tester"></constructor-arg>
		</bean>
		<bean id="test" class="com.example.HelloWorld" init-method="init"
			destroy-method="destroy" autowire="constructor">
			<property name="message" value="Hellooooo" />
		</bean>
		<bean id="str" class="java.lang.String" factory-method="valueOf">
			<constructor-arg value="string_1" />
		</bean>
		<bean id="msg2" class="java.lang.String" factory-method="valueOf">
			<constructor-arg value="string_x" />
		</bean>
	</beans>
</beans>
